In [1]:
import pandas as pd
import test
import re

In [2]:
data=pd.read_csv('data/interns.csv')

In [3]:
data_clean=test.clean_dataframe(data)

In [4]:
data_clean

   Nombre Edad
0   Marco   26
1  Daniel
2   Maria   23

In [5]:
data_clean.to_excel('respuestas/giulia_test1.xlsx', index='False')